.callout[data-callout="t"] {
    --callout-color: 178, 102, 255;
    --callout-icon:;
}

.callout[data-callout="r"] {
    --callout-color: 255, 102, 102;
    --callout-icon:;
}

.callout[data-callout="e"] {
    --callout-color: 255, 178, 102;
    --callout-icon:;
}

.callout[data-callout="p"] {
    --callout-color: 102, 178, 255;
    --callout-icon:;
}

.callout[data-callout="d"] {
    --callout-color: 102, 255, 102 ;
    --callout-icon:;
}

.callout[data-callout="a"] {
    --callout-color: 255, 153, 204 ;
    --callout-icon:;
}